@font-face {
    font-family: Poppins-Bold;
    src: url("assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Poppins;
    src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-Light;
    src: url("assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-Thin;
    src: url("assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url("assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}


html {
    font-family: Poppins, serif;
    box-sizing: border-box;
}
body {
    font-family: Poppins, serif;
    margin: 0;
    padding: 0 !important;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: Poppins, serif;
}

